<mat-card color="secondary">
  <mat-card-title>The forecast for {{dates[0]}}</mat-card-title>
  <img [src]="CurrentCity?.futureIcon[0]" />
    <mat-list>
        <mat-list-item>Temp: {{CurrentCity?.futureTemperature[0]}}</mat-list-item>
        <mat-list-item>Max: {{CurrentCity?.futureMaxTemperature[0]}}</mat-list-item>
        <mat-list-item>Min: {{CurrentCity?.futureMinTemperature[0]}}</mat-list-item>
        <mat-list-item>Humidity: {{CurrentCity?.futureHumidity[0]}}%</mat-list-item>      
      </mat-list>
</mat-card>
<mat-card color="secondary">
    <mat-card-title>The forecast for {{dates[1]}}</mat-card-title>
    <img [src]="CurrentCity?.futureIcon[1]" />
    <mat-list>
        <mat-list-item>Temp: {{CurrentCity?.futureTemperature[1]}}</mat-list-item>
        <mat-list-item>Max: {{CurrentCity?.futureMaxTemperature[1]}}</mat-list-item>
        <mat-list-item>Min: {{CurrentCity?.futureMinTemperature[1]}}</mat-list-item>
        <mat-list-item>Humidity: {{CurrentCity?.futureHumidity[1]}}%</mat-list-item>      
      </mat-list>
</mat-card>
<mat-card color="secondary">
    <mat-card-title>The forecast for {{dates[2]}}</mat-card-title>
    <img [src]="CurrentCity?.futureIcon[2]" />
    <mat-list>
        <mat-list-item>Temp: {{CurrentCity?.futureTemperature[2]}}</mat-list-item>
        <mat-list-item>Max: {{CurrentCity?.futureMaxTemperature[2]}}</mat-list-item>
        <mat-list-item>Min: {{CurrentCity?.futureMinTemperature[2]}}</mat-list-item>
        <mat-list-item>Humidity: {{CurrentCity?.futureHumidity[2]}}%</mat-list-item>      
      </mat-list>
</mat-card>
<mat-card color="secondary">
    <mat-card-title>The forecast for {{dates[3]}}</mat-card-title>
    <img [src]="CurrentCity?.futureIcon[3]" />
    <mat-list>
        <mat-list-item>Temp: {{CurrentCity?.futureTemperature[3]}}</mat-list-item>
        <mat-list-item>Max: {{CurrentCity?.futureMaxTemperature[3]}}</mat-list-item>
        <mat-list-item>Min: {{CurrentCity?.futureMinTemperature[3]}}</mat-list-item>
        <mat-list-item>Humidity: {{CurrentCity?.futureHumidity[3]}}%</mat-list-item>      
      </mat-list>
</mat-card>
<mat-card color="secondary">
    <mat-card-title>The forecast for {{dates[4]}}</mat-card-title>
    <img [src]="CurrentCity?.futureIcon[4]" />
    <mat-list>
        <mat-list-item>Temp: {{CurrentCity?.futureTemperature[4]}}</mat-list-item>
        <mat-list-item>Max: {{CurrentCity?.futureMaxTemperature[4]}}</mat-list-item>
        <mat-list-item>Min: {{CurrentCity?.futureMinTemperature[4]}}</mat-list-item>
        <mat-list-item>Humidity: {{CurrentCity?.futureHumidity[4]}}%</mat-list-item>      
      </mat-list>
</mat-card>